@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

* { font-family: 'Noto Sans KR', sans-serif; }

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #e5e7eb; border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: #d1d5db; }

html,
body,
#root {
  height: 100%;
}
